{% extends 'blog_main/base.html' %}

{% block title_block %}
Posts
{% endblock title_block %}

{% block content_block %}

<div class="jumbotron">
    {% for post in post_list %}
    <div class="post" >
        <h4><a class="post-title" href="{% url 'blog_main:post_detail' pk=post.id %}"> {{ post.title }} </a> </h4>
        <p class="post-details">Posted on: {{post.publish_date|date:"D M Y"}}</p>
        <a class="post-details" href="{% url 'blog_main:post_detail' pk=post.pk %}">Comments: {{post.comments.count}} </a>


    </div>

    {% endfor %}
</div>



{% endblock content_block %}
